.head1{
   display: flex;
   justify-content: center; 
   justify-content: space-between;
}
#main1{
    background-color: beige;
    text-align: center;
}
        .main1__box1{
            background-color: beige; 
            border: 3px solid red;
            color: green;
            height: 100px; 
            margin-left: 47.396%;
            position absolute;
            width: 100px;
           
           
           
        }
                .main1__h1 {
                    color: #253C78;
                    padding-left: 17px;
                    
                   
                
                }
                .main__h2 {
                    color:#06AED5;
                    padding-left: 17px;
                
                    
                
                }
                
                .main__h3 {
                    color: #086788;
                    padding-left: 17px;
                  
               
                }

                .main__footer {
                    color: #251101;
                    padding-left: 17px;
                
                   
                   
                }
                .main__paragraph{
                    color:pink;
                   
                   
                }
                .main__paragraph--para1{
            margin-top: 14%;
               
              

                }
.main__h2--notepad{
    margin-left: 39.584%;
    max-height: 200px;
    max-width: 400px;
    overflow: scroll; 
    position: absolute;
  
  

}
body {
    background: white;
    max-width: 1920px; 
}
.main__h3{

}


